<h1>Sign Up</h1>

<%= form_with model: @user, url: "/users", method: "post", local: true do |f| %>
  <p>
    <%= f.label :username, "Username" %>
    <%= f.text_field :username, required: true %>
  </p>

  <p>
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, required: true %>
  </p>

  <p>
    <%= f.label :password, "Password" %>
    <%= f.password_field :password, required: true %>
  </p>

  <p>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation, required: true %>
  </p>

  <button type="submit">Sign Up</button>
<% end %>

<p>
  Already have an account? <%= link_to "Login here", login_path %>
</p>