<h1>New Place</h1>

<%= form_with model: @place, local: true do |f| %>
  <p>
    <%= f.label :name, "Place Name" %>
    <%= f.text_field :name, id: "name_input", class: "form-control" %>
  </p>

  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>

<p>
  <%= link_to "Back to Places", places_path, class: "btn btn-secondary" %>
</p>
