<h2><%= @place.name %></h2>
<p><%= @place.description %></p>

<% if @current_user %>
  <a href="/entries/new?place_id=<%= @place.id %>" class="btn btn-primary">Add Entry</a>
<% end %>

<h3>Entries</h3>
<% if @entries.any? %>
  <div class="list-group">
    <% @entries.each do |entry| %>
      <div class="list-group-item">
        <h5><%= entry.title %></h5>
        <p><%= entry.description %></p>
        <p><small>Occurred on: <%= entry.occurred_on %></small></p>
        <% if entry.image.present? %>
          <img src="<%= entry.image.url %>" class="img-fluid mt-2">
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No entries yet for this place.</p>
<% end %>