<!DOCTYPE html>
<html>
<head>
  <title>Travel Journal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <header>
    <nav>
      <% if current_user %>
        <p>Welcome, <%= current_user.username %>! | <%= link_to "Logout", logout_path, method: :delete %></p>
      <% else %>
        <%= link_to "Login", login_path %> |
        <%= link_to "Signup", signup_path %>
      <% end %>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>&copy; <%= Time.current.year %> Travel Journal</p>
  </footer>
</body>
</html>
